*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  user-select: none; /* supported by Chrome and Opera */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
}

body {
  background-color: black;
  font-family: sans-serif;
}

canvas {
  display: block;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
}

.options {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 10px;

  transition: all 0.4s ease;
}

.options--closed {
  transform: translateX(100%);
}

.options__item {
  margin-bottom: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options__item-label {
  color: white;
  align-self: flex-start;
  margin-bottom: 3px;
  font-size: 16px;
}

.options__item-input {
  width: 100%;
  padding: 5px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
}

.options__submit {
  display: block;
  margin-top: 20px;
  width: 100%;
  padding: 5px;
  letter-spacing: 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);

  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.options__submit:active {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
}

.options__toggler {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateX(-40px);

  padding: 10px;
  width: 40px;
  height: 40px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 10px;

  transition: all 0.4s ease;
  cursor: pointer;
}

.options__toggler::before {
  content: ">>";
}

.options__toggler--closed::before {
  content: "<<";
}
