*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  font-family: sans-serif;
}

canvas {
  display: block;
}

.app {
  position: relative;
  width: 100%;
  height: 100%;
}

.options {
  z-index: 10;
  position: fixed;
  top: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom-left-radius: 10px;
}

.options__item {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.options__item-label {
  color: white;
  align-self: flex-start;
  margin-bottom: 3px;
}

.options__item-input {
  width: 100%;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
}

.options__submit {
  display: block;
  width: 100%;
  padding: 5px;
  letter-spacing: 1px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);

  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  border: none;
}

.options__submit:active {
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.4);
}